@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url("../public/pexels-souvenirpixels-1519088.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

